<br>
<h2>Add or Create a New Product</h2>

<div class="formbody">
    <br>
    <form action="" method="post" (submit)="createproduct()" #addProductForm>
        <mat-form-field appearance="outline" color="warn">
            <mat-label>Product Name</mat-label>
            <input type="text" name="name" matInput placeholder="Placeholder">
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline" color="warn">
            <mat-label>Product Description</mat-label>
            <textarea name="description" matInput rows="5"></textarea>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline" color="warn">
            <mat-label>Price</mat-label>
            <input name="price" matInput type="number">
        </mat-form-field>
        <br>

        <!-- <mat-form-field appearance="outline" color="warn">
            <mat-label>Product Image</mat-label>
            <input type="text" matInput  name="imageUrl" value="https://source.unsplash.com/1600x900/?food">
        </mat-form-field> -->

        <mat-form-field appearance="outline" color="warn">
            <mat-label>Quantity</mat-label>
            <input name="quantity" matInput type="number">
        </mat-form-field>
        <br>
        
        <button mat-raised-button color="accent">Add Product to Database</button>
    </form> 
    <br><br><br><br>           
</div>
<br>
   

    

