*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.formContainer{
    text-align: center;
    background-color: white;
    font-family: 'PT Serif', serif;
}

form{
    border: 2px solid blue;
    width: 350px;
    height: auto;
    margin: auto;
    margin-bottom: 35px;
    padding: 10px;
}

button{
    font-family: 'PT Serif', serif;
}