.flexbox {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    
    
    
}

.containers {
    background-color: rgba(42, 144, 165, 0.399);
    height: 500px;
   
   

}

img {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 50px;
   
}

.desc {
    height: 180px;
}