<br>
<h1>YOU ARE EDITING THE FOLLOWING PRODUCT</h1>
   
<div>
    <form action="" method="post" (submit)="updateproduct()" #form>
          <h2> 
            <b>Product ID:</b> 
            {{product.id}}
            <br>
            
            <b>Product Name:</b> 
            {{product.name}}  
          </h2>
          <br>
    
          <mat-form-field appearance="outline" color="warn">
              <mat-label>Price</mat-label>
              <input name="price" matInput type="number" value="{{product.price}}">
          </mat-form-field>
          <br>
    
          <mat-form-field appearance="outline" color="warn">
              <mat-label>Quantity</mat-label>
              <input name="quantity" matInput type="number" value="{{product.quantity}}">
          </mat-form-field>
          <br>
            
          <button mat-raised-button color="accent">Make the Changes</button>
    </form>               
</div>
<br><br>

  
